.text-item {
  align-items: center;
}

.rsvp-iframe {
  display:block;
  width:100%;
  height:59vh;
  border: none;
}

.rsvp-embed {
  height: 60vh;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.picture-break {
    display: grid;
    grid-template-columns: repeat(3, auto);
    list-style: none;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    grid-gap: 3vh;
}

.picture-break-img {
  width: 25vh;
  height: auto;
}

.our-story {
  width: 100%;
  align-items: center;
}

.our-story-head {
  color: #000;
  padding-top: 4vh;
  text-align: center;
  font-family: 'Mr De Haviland', serif;
  font-size: 6vh;
}

.date-entries {
  text-align: center;
  font-size:2vh;
  padding-bottom: 3vh;
  color: #000;
}

.date-entry {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 3vh;
  list-style: none;
  padding-top: 3vh;
  font-family: 'Delius', serif;
  padding-right: 6.5vh;
}

.date-year {
  font-family: 'Delius', serif;
  text-align: right;
  
}

.date-story {
  max-width: 50vh;

}

.story-footer {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.story-footer-text {
  font-family: 'Delius', serif;
  text-align: center;
  font-size:2vh;
  color: #000;
}

.picture-break-outer-box {
  padding-top: 3vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.picture-break-dock-ring {
  width: 80vh;
  height: 50vh;
  border-radius: 50%;
  background-color: #000;
  border-width: 4vh;
}

.picture-break-dock {
  padding-top: 3vh;
  background-image: url('/images/picture-break-dock.jpg');
  width: 80vh;
  height: 50vh;
  border-radius: 50%;
  background-size: cover;
}

.picture-break-dock-img {
  width: 50vh;
  height: auto;
}

.details-head {
  padding-top: 2vh;
  text-align: center;
  color: #000;
  font-family: 'Mr De Haviland', serif;
  font-size: 6vh;
}

.location-text {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2vh;
}

.location-name {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2vh;
}

.location-addr {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2vh;
}
.location-city {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2vh;
}

.details-p {
  padding-bottom: 2vh;
  padding-top: 2vh;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2vh;
}

.divbar-dotted-top {
  padding-top: 2vh;
  margin: auto;
  width: 50vh;
}

.divbar-dotted-bottom {
  padding-bottom: 2vh;
  text-align: center;
  margin: auto;
  width: 50vh;
}

.divline-dotted {
  border: none;
  border-top: 1px dotted black;
  text-align: center;
}

.google-map {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.google-map-item {
  border: 3px #d3dde3;
  font-family: 'Delius', serif;
}

.picture-break-woods {
  padding-top: 3vh;
  background-image: url('/images/picture-break-woods.jpg');
  width: 80vh;
  height: 50vh;
  border-radius: 50%;
  background-size: cover;
}

.picture-break-woods-img {
  width: 50vh;
  height: auto;
}

.wedding-party-head {
  text-align: center;
  padding-top: 5vh;
  color: #000;
  font-family: 'Mr De Haviland', serif;
  font-size: 6vh;
}

.wedding-party-list {
  display: grid;
  grid-template-columns: repeat(2, 25vh);
  grid-gap: 2vh;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 2vh;
  color: #000;
  font-size: 4vh
}

.member-role {
  font-size: 2vh;
  font-family: 'Delius', serif;
}

.member-name {
  font-size: 2vh;
  font-family: 'Delius', serif;
}

.member-desc {
  font-size: 2vh;
  font-family: 'Delius', serif;
}

.wedding-party-img {
  width: 20vh;
}

.aspen-photo {
  width: 30vh;
}

.bonusparty {
  padding-top: 5vh;
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2.5vh;
}

.accomodations {
  padding-top: 5vh;
}

.photographer {
  color: blue;
}

.hotel-info {
  padding-top: 2vh;
  text-align: center;
  font-family: 'Delius', serif;
  padding-bottom: 2vh;
  font-size: 2vh;
  color: #000;
}

.hotel-photo {
  width: 40vh;
}

.hotel-website {
  color: blue;
}

.hotel-note {
  margin: auto;
  width: 50vh;
  color: #000;
}

.accomodations-head {
  text-align: center;
  color: #000;
  font-family: 'Mr De Haviland', serif;
  font-size: 6vh;
}

.accomodations-p {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2vh;
}

.faq {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 3vh;
  padding-bottom: 2vh;
  color: #000;
}

.faq-head {
  font-family: 'Mr De Haviland', serif;
  font-size: 6vh;
  text-align: center;
}

.faq-question {
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2.5vh;
}

.faq-answer {
  padding-left: 3vh;
  color: #000;
  font-family: 'Delius', serif;
  font-size: 2vh;
}

.registry-p {
  font-family: 'Delius', serif;
  font-size: 2vh;
  text-align: center;
  margin: auto;
  justify-content: center;
  max-width: 70vh;
}

.registry {
  text-align: center;
  padding-bottom: 3vh;
  color: #000;
  font-family: 'Delius', serif;
}

.registry-h {
  font-family: 'Mr De Haviland', serif;
  font-size: 6vh;
}

.rsvp {
  text-align: center;
  color: #000;
  padding-top: 2vh;
}

.rsvp-head {
  font-family: 'Mr De Haviland', serif;
  font-size: 6vh;
}

.rsvp-p {
  font-family: 'Delius', serif;
  font-size: 2vh;
  padding-bottom: 3vh;
}

.content-page-box {
  background-color: #d3dde3;
}

@media screen and (max-width: 1040px) {

  .picture-break-outer-box {
    padding-top: 3vh;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .picture-break {
    display: grid;
    grid-template-columns: repeat(1, auto);
    list-style: none;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}
  
  .picture-break-dock-ring {
    background: #d3dde3;
    width: 100vw;
    height: auto;
    border-radius: 0%;
    background-color: #000;
    border-width: 4vh;
  }
  
  .picture-break-dock {
    padding-top: 3vh;
    background-image: url('/images/picture-break-dock.jpg');
    width: 100%;
    border-radius: 0%;
    background-position: 100% 100%;
  }

  .picture-break-woods {
    padding-top: 3vh;
    background-image: url('/images/picture-break-woods.jpg');
    background-size: cover;
    border-radius: 0%;
  }
  
  .picture-break-woods-img {
    width: 30vh;
    height: auto;
  }
  
  .our-story-signature {
    color: #000;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    font-family: 'Delius', serif;
  }

  .details-p {
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 10%;
    padding-right: 10%;
    color: #000;
  }

  .google-map-item {
    border: 3px #d3dde3;
    width: 80%;
    height: 40vh;
  }

  .wedding-party-list {
    display: grid;
    grid-template-columns: repeat(2, 25vh);
    grid-gap: 1vh;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 2vh;
    color: #000;
    font-family: 'Delius', serif;
    font-size: 3vh;
    width: 5vh;
    margin: auto;
  }
}