.text-item {
  align-items: center;
}

.our-story {
  width: 100%;
  align-items: center;
}

.our-story-head {
  color: #000;
  text-decoration: underline 3px;
  padding-top: 2vh;
  text-align: center;
  font-family: 'Mr De Haviland', serif;
  font-size: 56px;
}

.our-story-p {
  color: #000;
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 24px;
  font-family: 'Delius', serif;
}

.our-story-sign {
  color: #000;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 24px;
  font-family: 'Delius', serif;
}

.our-story-signature {
  color: #000;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 24px;
  font-family: 'Delius', serif;
}

.details-head {
  padding-top: 2vh;
  text-align: center;
  color: #000;
  font-family: 'Mr De Haviland', serif;
  font-size: 56px;
}

.location-text {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
}

.location-name {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
}

.location-addr {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
}
.location-city {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
}

.details-p {
  padding-top: 3vh;
  padding-bottom: 2vh;
  padding-left: 25%;
  padding-right: 25%;
  color: #000;
  font-family: 'Delius', serif;
}

.google-map {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.google-map-item {
  border: 3px #c9e2c5;
  font-family: 'Delius', serif;
}

.wedding-party-head {
  text-align: center;
  padding-top: 5vh;
  color: #000;
  font-family: 'Mr De Haviland', serif;
  font-size: 56px;
}

.wedding-party-list {
  display: grid;
  grid-template-columns: repeat(2, 25vh);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 2vh;
  color: #000;
  font-family: 'Mr De Haviland', serif;
  font-size: 32px
}

.bonusparty {
  padding-top: 5vh;
  text-align: center;
  color: #000;
  font-family: 'Mr De Haviland', serif;
  font-size: 32px;
}

.accomodations {
  padding-top: 5vh;
}

.accomodations-head {
  text-align: center;
  color: #000;
  font-family: 'Mr De Haviland', serif;
  font-size: 56px;
}

.accomodations-p {
  text-align: center;
  color: #000;
  font-family: 'Delius', serif;
}

.faq {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 3vh;
  padding-bottom: 2vh;
  color: #000;
}

.faq-head {
  font-family: 'Mr De Haviland', serif;
  font-size: 56px;
}

.faq-question {
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  color: #000;
  font-family: 'Delius', serif;
}

.faq-answer {
  padding-left: 3vh;
  color: #000;
  font-family: 'Delius', serif;
}

.registry {
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 3vh;
  color: #000;
  font-family: 'Delius', serif;
}

.registry-h {
  font-family: 'Mr De Haviland', serif;
  font-size: 56px;
}

.rsvp {
  text-align: center;
  color: #000;
}

.rsvp-head {
  font-family: 'Mr De Haviland', serif;
  font-size: 56px;
}

.content-page-box {
  background-color: #e0f3dd;
}

@media screen and (max-width: 1040px) {
  .our-story-p {
    color: #000;
    padding-top: 2vh;
    padding-bottom: 3vh;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    font-family: 'Delius', serif;
  }
  
  .our-story-sign {
    color: #000;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    font-family: 'Delius', serif;
  }
  
  .our-story-signature {
    color: #000;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    font-family: 'Delius', serif;
  }

  .details-p {
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 10%;
    padding-right: 10%;
    color: #000;
  }

  .google-map-item {
    border: 3px #c9e2c5;
    width: 80%;
    height: 40vh;
  }

  .wedding-party-list {
    display: grid;
    grid-template-columns: repeat(2, 25vh);
    grid-gap: 1vh;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 2vh;
    color: #000;
    font-family: 'Mr De Haviland', serif;
    font-size: 3vh;
    width: 5vh;
    margin: auto;
  }
}