.navbar {
    height: 10vh;
    display: flex;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    width: 100%;
    background: transparent;
    position:absolute;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-family: 'Mr De Haviland', serif;
  }

  .navbar-text {
    color: #ffff; 
    font-size: 6vh;
    white-space: nowrap;
    margin-left: 1vw;
    display: flex;
    font-family: 'Mr De Haviland', serif;
    letter-spacing: 1vh;
    position: 0;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 1vh;
    list-style: none;
    text-align: center;
    width: 90%;
    justify-content: end;
  }

  .navbar-item {
    height: 1vh;
    white-space: nowrap;
  }

  .navbar-item-text {
    color: #ffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Mr De Haviland', serif;
    font-size: 4vh;
    padding: 0.5rem 1rem;
    height: 100%;
    scroll-behavior: smooth;
  }

  .navbar-logo {
    display: block;
    width: 25%;
    height: 25%;
    flex-shrink: 0;
    transition: all 0.2s linear;
  }

  .fa-bars {
    color: #fff;
  }

  .fa-times {
    color: #fff;
  }

  .menu-icon {
    display: none;
  }

  @media screen and (max-width: 1040px) {

    .navbar-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      height: 100vh;
      position: absolute;
    }

    .navbar-text {
      color: #ffff;
      font-size: 6vh;
      white-space: nowrap;
      margin-left: 10%;
      margin-right: 75%;
      display: flex;
      font-family: 'Mr De Haviland', serif;
      letter-spacing: 4px;
      transition: all 0.3s ease-out;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .navbar-menu.active {
      background: #879daa;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      display: flex;
      height: 200vh;
      justify-content: flex-start;
      background-size: cover;
      z-index: 1;
      position: fixed; 
      overflow-y: scroll;
      inset: 10;
    }

    .navbar-container.active {
      background: #879daa;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 2;
      width: 100%;
      height: 20vh;
      padding-bottom: 7vh;
      align-items: top;
      overflow: hidden;
      position: fixed; 
      overflow-y: scroll;
      inset: 0;
    }

    .navbar-item {
      display: block;
      text-align: center;
      margin: 0.5rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 3vh 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }

    .navbar-item:hover {
      background: #5d7583;
      color: #242424;
      transition: 250ms;
    }

    .navbar-item-text {
      color: #ffff;
      align-items: center;
      text-align: center;
      text-decoration: none;
      font-family: 'Mr De Haviland', serif;
      font-size: 5vh;
      padding: 0.5rem 1rem;
      height: 100%;
      scroll-behavior: smooth;
    }
  }