html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #1e1e1e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(243, 241, 239);
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-weight: 600;
  color: #d3dde3;
  margin-bottom: 20px;
  font-size: 4.5rem;
  font-family: 'Mr De Haviland', serif;
}

.container {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.block label {
  font-weight: 500;
  margin-bottom: 5px;
  color: hsl(118, 17%, 60%);
  font-family: 'Mr De Haviland', serif;
  font-size: 3rem;
}

input {
  font-size: 1rem;
  padding: 12px;
  border: 2px solid hsl(118, 17%, 60%);
  border-radius: 5px;
  background-color: #3e3e3e;
  color: #d3dde3;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
  border-color: #d3dde3;
}

button {
  padding: 12px;
  font-size: 1.2rem;
  border: 2px solid hsl(118, 17%, 60%);
  border-radius: 5px;
  background-color: hsl(118, 17%, 60%);
  color: #1e1e1e;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

button:hover {
  background-color: #d3dde3;
  color: #1e1e1e;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  
  .block {
    max-width: 400px; /* Ensures enough space for inputs */
    margin-left: auto;
    margin-right: auto;
  }

  button {
    width: 100%;
  }
}
